@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700;800&family=Montserrat:wght@500;700&display=swap');

* {
    font-family: 'inter', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    width: 100%;
}
ul {
    list-style: none;
}
p {
    line-height: 2;
    color: hsl(236, 13%, 42%);
}
html {
    font-size: 15px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
}
.header nav {
    display: none;
}
.showcase {
    padding: 1.25rem;
    padding-top: 0;
}
.showcase h1 {
    font-size: 2rem;
    color: hsl(240, 100%, 5%);
    margin: 1.25rem 0;
}
.showcase div:first-child article p {
    margin-bottom: 1.25rem;
}
.showcase div:first-child article button {
    background-color: hsl(5, 85%, 63%);
    color: #fff;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all 0.3s ease-in-out;
}
.showcase div:first-child article button:hover {
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}
.showcase > div:last-child {
    background-color: hsl(240, 100%, 5%);
    margin-top: 2rem;
    padding: 1.25rem 1.25rem 0;
}
.showcase > div:last-child h2 {
    color: hsl(35, 77%, 62%);
}
.showcase > div:last-child article {
    padding: 1.5rem 0;
}
.showcase > div:last-child article:not(:last-child) {
    border-bottom: 2px solid hsl(236, 13%, 42%);
}
.showcase > div:last-child h3 {
    color: #fff;
    margin-bottom: 0.5rem;
}
.showcase > div:last-child h3:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}
.cards {
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
}
.cards article {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.cards article img {
    width: 12rem;
}
.cards article span {
    color: hsl(236, 13%, 42%);
    font-weight: bold;
    font-size: 2rem;
    opacity: 75%;
}
.cards article h4 {
    font-size: 1.25rem;
    color: hsl(240, 100%, 5%);
    margin: 1rem 0;
}





.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}